 <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">Scrape Crepe</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/saved">Saved Articles</a></li>
                <li><a class="scrape-new">SCRAPE NEW ARTICLES!</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
            <h1>Mongo Scraper Crepe..er?</h1>
            <p>New York Times Edition</p>
        </div>
    </div>
    <div class="container-fluid article-container">
    </div>


    <footer class="page-footer">
        <div class="container">
            <p>New York Times Mongo Scraper</p>
        </div>
    </footer>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="assets/js/materialize.min.js"></script>
    <script src="../public/asets/js/app.js"></script>